/* .fade-enter {
  opacity: 0.01;
}

.fade-enter.fade-enter-active {
  opacity: 1;
  transition: opacity 1000ms ease-in;
}

.fade-exit {
  opacity: 1;
}

.fade-exit.fade-exit-active {
  opacity: 0.01;
  transition: opacity 800ms ease-in;
} */


/* .show-enter {
  height: 0;
}

.show-enter.show-enter-active {
  height: 100px;
  transition: height 1000ms ease-in;
}

.show-exit {
  height: 100px;
}

.show-exit.show-exit-active {
  height: 0;
  transition: height 800ms ease-in;
} */

/**--- example styles ---**/
/* .container {
  padding: 20px;
  border: 3px solid rgb(177, 0, 0);
  width: 200px;
  margin: auto;
  border-radius: 4px;
}

.todo-list > * {
  margin: 5px 0;
  padding: 5px 0;
  border-bottom:  5px solid rgb(55, 0, 255);
}

.container > button {
  margin-top: 20px;
} 

.show {
  height: 100px;
  
} */

/* .testBox {
  border: solid #000 3px;
  width: 50px;
  height: 0px;
  transition: width 2s, height 1s;
  overflow: hidden;
} */
