#chatSection {
   
    box-shadow: 1px 1px 1px 0px #737373;
    padding: 0;
    border-radius: 5px;
}

#chatBox {
    border: solid #ccc 1px;
    height: 200px;
    background-color: rgb(242, 242, 242);
    border-radius: 5px 5px 0 0;
}

#chatInput {
   padding-left: 5px;
    height: 35px;
    width: 100%;
    border-radius: 0; 
    margin: 0;
    color: #000;
    border-radius: 0 0 0 5px;
}

#chatArea {
    padding: 0;
    margin: 0;
}

#chatBtn {
    padding: 0;
    margin: 0;
    border-left: solid #000 1px;
}

.chatBtn {
    border-radius: 0; 
    height: 35px;
    width: 100%;
    margin: 0;
    border-radius: 0 0 5px 0;
    
}