

#icon1 {
    position: absolute; 
    right: -3px; 
    top: -8px; 
    color: #fff
}

#icon2 {
    background: #fff; 
    padding: 0 3px; 
    margin: 6px 0; 
    height: 37px; 
    z-index: 1; 
    font-size: 13px
}

#racesCol {
    padding: 0;
}

hr {
    margin: 2px 0 10px
}

.raceBtn {
    margin: 3px 0;
    padding: 0;
}

#levelAmount {
    position: relative;
    width: 190px;
    top: 5px;
    font-size: 14px;
    color: green;
}

#time, #location, #difficulty {
    color: rgb(255, 0, 0)
}

.test:disabled {
    background-color: rgb(106, 0, 0);
}