
#racesCol {padding: 0}
.raceBtn {margin: 3px 0; padding: 0}

#levelAmount {
    position: relative;
    width: 190px;
    top: 5px;
    font-size: 14px;
    color: green;
}

#time, #location, #difficulty {color: rgb(255, 0, 0)}
.test:disabled {background-color: rgb(106, 0, 0)}

#leftRow > .col-12 {padding: 0}
#leftRow > .col-12 > form > div { padding: 0 15px}
#leftRow > .col-12 > form > div:nth-child(1) { 
    background: linear-gradient(to right, rgba(171, 86, 255, 0.317), rgba(171, 86, 255, 0.417));
    padding: 5px 15px 0;
    margin-bottom: 15px;
    height: 45px;
    border-bottom: solid #000 2px;
    
}
#leftRow > .col-12 > form > div:nth-child(1) > h3 { padding: 0}

.circleIcon {font-size: 15px; position: absolute; top: 12px; right: 5px; text-shadow: none}
.circleIcon:hover {cursor: pointer; color: rgb(106, 0, 0)}

label {padding-top: 5px; height: 25px}