#rightRow {
    margin: 5px;
    background: #fff; 
    border: solid rgb(113, 113, 113) 1px; 
    border-radius: 5px; 
    box-shadow: 1px 1px 1px 0px #737373
}

#topCol {
    height: 50px; 
    background: #a370d0; 
    border-bottom: solid #000 1px; 
    border-radius: 5px 5px 0 0; 
    background-image: url('pixelBackground.jpg');
}

#icon1 {
    position: absolute; 
    right: -3px; 
    top: -8px; 
    color: #fff
}

#icon2 {
    background: #fff; 
    padding: 0; 
    margin: 6px 0; 
    height: 37px; 
    z-index: 1; 
    font-size: 13px
}

#racesCol {
    padding: 0;
}

hr {
    margin: 2px 0 10px
}

.raceBtn {
    margin: 3px 0;
    padding: 0;
}

#levelAmount {
   
    position: relative;
    width: 190px;
    top: 5px;
    font-size: 14px;
}