#racesRow {
    margin: 5px 6px 5px; 
    background: #fff; 
    width: 360px; 
    padding: 10px; 
    border: solid #ccc 1px; 
    border-radius: 5px; 
    box-shadow: 1px 1px 1px 0px #737373
}

#racesCol {
    padding: 0;
}

hr {
    margin: 2px 0 10px
}

.raceBtn {
    margin: 3px 0;
    padding: 0;
}